h1{
    text-align: center; 
    text-transform: capitalize; 
    font-size: 80px;
}

#primer-titulo{
    color: #1cb0f6;
}

#primer-parrafo{
    color: #58CC07;
}

.titulo{
    color:#ffc800;
}

.parrafo{
    color:#a56644;
}